/*
 * Shadow effects
 */
.navbar-shadow {
	box-shadow: 0 1px @default-unit rgba(0,64,103,0.2)
}

.navbar-brand {
	padding:25px @navbar-padding-horizontal;
}

.navbar-default {
	.navbar-brand {
		.transition(all 400ms ease-in-out);
	}
	.navbar-nav {
		> li {
			> a {
				.transition(all 400ms ease-in-out);
			}
		}
	}
	&.shrink {
		.navbar-brand {
			@media (min-width: @grid-float-breakpoint) {
				padding-top:0.5*@default-unit;
				padding-bottom:0.5*@default-unit;
				height:50/80*@navbar-height;
			}
		}
		.navbar-nav {
			> li {
				> a {
					@media (min-width: @grid-float-breakpoint) {
						padding-top:0.75*@default-unit;
						padding-bottom:0.75*@default-unit;
					}
				}
			}
		}
		&.navbar {
			min-height:50/80*@navbar-height;
		}
	}
}

.dropdown-menu {
	top: 95%;
}

.dropdown-submenu {
	> .dropdown-menu {
		top: 0;
		left: 95%;
		margin-top: -6px;
		margin-left: -1px;
		border-radius:@border-radius-base;
	}
}
