// Variables - overrides
// --------------------------


// Bootstrap
@icon-font-path:						"../fonts/bootstrap/";
@fa-font-path:							"../fonts/font-awesome/";

// default 
@default-unit:							20px;

@headings-color:						@color-byte-dark;
@font-size-root:						14px;
@font-size-h0:							72px;

@font-family-sans-serif:				'Open Sans', sans-serif;

@input-border:							@gray-lighter;

// Navbar-default
@navbar-default-color:					@color-byte-dark;
@navbar-default-bg:						white;
@navbar-default-border:					transparent;

// Navbar links
@navbar-default-link-color:				@color-byte-darker-x;
@navbar-default-link-hover-color:		@color-byte-darker;
@navbar-default-link-hover-bg:			transparent;
@navbar-default-link-active-color:		@color-byte-darker;
@navbar-default-link-active-bg:			white;
@navbar-default-link-disabled-color:	#ccc;
@navbar-default-link-disabled-bg:		transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:		@color-byte-lighter;
@navbar-default-toggle-icon-bar-bg:		@color-byte-dark;
@navbar-default-toggle-border-color:	@color-byte-dark;

//== Buttons
@btn-success-bg-hover:					@color-lime-darker;
@btn-success-border:					white;

//== Tables
@table-border-color:					white;
@table-border-width:					2px;
@table-radius-size:						@border-radius-small;

//== Panels
@panel-table-text:						inherit;
@panel-table-border:					white;
@panel-table-heading-bg:				transparent;
