// Variables - overrides
// --------------------------


// Bootstrap
@icon-font-path:						"../fonts/bootstrap/";

// default
@default-unit:							20px;

@headings-color:						@color-byte-dark;

//== Typography
//
@font-size-base:						14px;

@font-size-h0:							64px;
@font-size-h1:							48px;
@font-size-h2:							32px;
@font-size-h3:							24px;
@font-size-h4:							21px;
@font-size-h5:							18px;
@font-size-h6:							16px;


@font-family-sans-serif:				'Open Sans', sans-serif;
@input-border:							@gray-lighter;

@line-height-base:						1.5;

@headings-font-weight:					300;

//== Navbar
//
@navbar-height:							4*@default-unit;

// Navbar-default
@navbar-default-color:					@color-byte-dark;
@navbar-default-bg:						@color-white;
@navbar-default-border:					transparent;

// Navbar links
@navbar-default-link-color:				@color-byte-darker-x;
@navbar-default-link-hover-color:		@color-byte-darker;
@navbar-default-link-hover-bg:			transparent;
@navbar-default-link-active-color:		@color-byte-darker;
@navbar-default-link-active-bg:			@color-white;
@navbar-default-link-disabled-color:	#ccc;
@navbar-default-link-disabled-bg:		transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:		@color-byte-lighter;
@navbar-default-toggle-icon-bar-bg:		@color-byte-dark;
@navbar-default-toggle-border-color:	@color-byte-dark;

//== Buttons
@btn-font-size-base:					@font-size-base;
@btn-font-size-large:					@font-size-large;
@btn-font-size-small:					@font-size-small;
@btn-border-width:						2px;
@btn-success-bg-hover:					@color-lime-darker;
@btn-success-border:					@color-white;

//== Forms
//
@input-border-width:					1px;
@input-border:							@gray-lighter;

//== Components
//
@padding-base-vertical:					9px;
@padding-base-horizontal:				18px;

@padding-large-vertical:				14px;
@padding-large-horizontal:				23px;

@padding-small-vertical:				@padding-base-vertical;
@padding-small-horizontal:				@padding-base-horizontal;

@border-radius-base:					6px;
@border-radius-large:					10px;
@border-radius-small:					6px;

//== Tables
@table-border-color:					@color-white;
@table-border-width:					1px;
@table-radius-size:						@border-radius-small;

//== Panels
@panel-default-border:					@gray-lighter;
@panel-default-text:					@color-byte-dark;
@panel-default-heading-bg:				transparent;

@panel-secondary-border:				@brand-secondary;
@panel-secondary-text:					@color-white;
@panel-secondary-heading-bg:			@brand-secondary;

@panel-table-text:						inherit;
@panel-table-border:					@color-white;
@panel-table-heading-bg:				transparent;

@panel-bg-byte-text:					@color-white;
@panel-bg-byte-link:					@color-white;
@panel-bg-byte-heading-bg:				@color-byte;

@panel-bg-byte-dark-text:				@color-white;
@panel-bg-byte-dark-link:				@color-lime-lighter;
@panel-bg-byte-dark-heading-bg:			@color-byte-darker-x;

@panel-block-border:					transparent;
@panel-block-text:						@color-byte-dark;
@panel-block-title:						@color-byte-dark;
@panel-block-heading-bg:				transparent;
@panel-block-default-border:			transparent;
@panel-block-default-text:				@color-byte-dark;
@panel-block-default-title:				@color-byte-dark;
@panel-block-default-heading-bg:		@color-byte-darker-x;

//== Media queries breakpoints
//
@screen-lg:								@screen-md;
@container-lg:							@container-md;

//== Tables
//
@table-bg-accent:						@color-byte-lighter-xx;

//== Lists
//

@ul-bg-accent:							@color-byte-lighter-xx;

//== Dropdowns
//
@dropdown-minwidth:						160px;
